* {
  box-sizing: border-box;
}
/*

.main {
  display: flex;
  justify-content: center;
}
*/

/*header*/
div.main-header {
  padding-top: 4%;
}
.main-header-info {
  margin-top: 1%;
  margin-bottom: 3.5%;
  font-size: 25px;
}

/*index*/
div#index-box {
  margin-top: 3%;
}

/*loginform*/
.form-border-box {
  border: 1px solid rgba(0,0,0,.12);
  width: 580px;
  height: 100%;
  margin: 40px auto 42px;
  padding: 55px 69px 50px 69px;
  box-sizing: border-box;
}
.text-box {
  border-bottom: solid #ccc;
  border-width: 0 0 2px;
}
.text-box:focus-within {
  border-bottom: 2px solid #191919;
}
input.login {
  position: relative;
  width: 100%;
  min-height: 45px;
  padding: 10px 0 8px;
  border: 0;
  font-size: 18px;
  line-height: 25px;
  color: #191919;
  background-color: transparent;
  letter-spacing: 0;
  box-sizing: border-box;
  outline: 0 none;
  caret-color: #191919;
}
div#loginErrMsg {
  text-align: left;
}
div#loginErrMsg #errMsg {
  display: none;
  color: #ff003e;
  font-size: 13px;
  letter-spacing: -.5px;
}
.confirm-btn-box {
  padding-top: 40px;
}
.btn_l {
  border: 0;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: #387aeb;
}
.btn_l:hover {
  background-color: #145fe0;
}
button#loginBtn {
    margin-bottom: 3%;
}
a.btn_l {
  text-decoration: none;
  padding-top: 2.7%;
}
.btn_gray {
    color: #191919;
    background-color: #f0f0f0;
}
.btn_gray:hover {
  background-color: #ebebeb;
}

/*joinform*/
.form-border-box#join-box {
  padding: 55px 80px 50px 80px;
}
#joinform label {
  font-size: 14px;
  text-align: left;
}
span.form-required {
  color: red;
  font-size: 18px;
  margin-left: 5%;
}
div.errMsg {
  text-align: left;
  font-size: 12px;
}
div#requiredErrMsg {
  text-align: center;
  margin-top: 0.5%;
}
button#saveBtn {
  margin-top: 10%;
}
button#saveBtn:disabled {
  background-color: #9fa5aa;
}

/*user*/
/*
label {
  cursor: pointer;
}
.userform-box div.mb-3 {
  justify-content: center;
  align-items: center;
}
#userlist-btn-box {
  text-align: right;
  margin-bottom: 1%;
}
.input-box {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
.userform-btn-box {
  margin-top: 4%;
  margin-bottom: 5%;
}
.userform-btn-box form {
  display: inline;
}
button.userform-btn {
  width: 8%;
  margin-left: 1%;
}
th:hover {
  cursor: default;
}
tr:hover {
  cursor: pointer;
}
*/
